DATABASE_URL=""
DATABASE_PASSWORD=""

NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="put ur publishable key here"
CLERK_SECRET_KEY="put ur secret key here"
SUPABASE_URL="https://your-project-ref.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"